@font-face {
  font-family: 'pokemon';
  src: url('../../fonts/pokemon-emerald.ttf') format('opentype');
}

@keyframes blink{
  0% {
    color: green;
  }
  100% {
    color: rgb(10, 134, 12);
  }
}


/* 1. Pokedex Loading amination */

#loading{
  position: absolute;
  z-index: 3;
  background: black;
  width: 243px;
  height: 159px;
  text-align: center;
  border: 2px solid grey;
}

#loading img{
  margin-top: 25%;
  width: 30px;
}

#loading p{
  font-family: 'pokemon';
  color: white;
  margin: 0;
}


/* 2. Pokedex Scrollbar */

/* width */
#pokedex_list::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
#pokedex_list::-webkit-scrollbar-thumb {
  background: rgb(8, 0, 7);
  height: 4px;
}

/* Background */
#pokedex_list::-webkit-scrollbar-track{
  background-color: rgb(177,154,86);
  border-left: 1px solid rgb(232,240,56);
  border-right: 1px solid rgb(232,240,56);
}

/* 3. Pokedex Font */

p.pkmn_name {
  width: 98px;
  font-family: 'pokemon';
  font-size: 14px;
  padding-left: 11px;
}

/* 4. Pokedex Background */

div#pokedex {
  width: 245px;
  height: 159px;
  border: 1px solid grey;
  background: url('../../assets/dex/pokedex.png') no-repeat left center;
}

/* 5. Pokedex List of Names and Images */

table#pokedex_list {
  scroll-snap-type: y mandatory;
  margin-top: 22px;
  position: relative;
  right: -66px;
  height: 112px;
  display: inline-grid;
  overflow-x: hidden;
  overflow-y: auto;
}

tr.pokedex_list_element {
  scroll-snap-align: center;
  height: 46px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}

img.pokedex_img {
  mix-blend-mode: multiply;
  max-width: 58px;
}

/* 6. Pokedex Hghlighted element */
.highlight td p{
  animation: blink 5s infinite;  
}

.highlight td img{
  filter: brightness(1.1) drop-shadow(2px 4px 6px black);
}